.Home {
    width: 100%;
    height :  100%;
    margin : 10px;
    /* background-color: rgba(23,34,44,.051); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ShowingCards{
    width: 100%;
    height: 100%;
    background-color: brown;
    display: flex;
    flex-direction: column;
    
}

