.NavBar {

    background-color: aliceblue;
    display: flex;
    padding: 10px;
    flex-direction: row;
    width: 200%;
}

.Right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Left {
    flex: 1;
    display: flex;
    justify-content: center;
}

.Title{
    font-family: "ARIAL";
    font-size: 30px;
}


button {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: grey;
    text-align: center;
    transition: all 0.2s;
}

button:hover{
    color: #000000;
    background-color: #FFFFFF;
}

a {
    color: grey;
    text-decoration: none;
}

a:hover {
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}