.NavBar {

    background-color: rgb(247, 248, 251);
    display: flex;
    padding: 10px;
    flex-direction: row;
    width: 100%;
    /* margin-left: 100px; */
}

.Title a{
    color: rgb(57, 59, 60);
}

.NavRight {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    margin-left: 0px;
    gap: 20px;
    /* align-items: center; */
}

.NavLeft {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-right: 50px;
}

.Title{
    font-family: "ARIAL";
    font-size: 30px;
}

a {
    color: white;
    text-decoration: none;
}

