

.Title a{
    color: rgb(57, 59, 60);
}

.NavRight {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    gap: 15px;

    /* align-items: center; */
}

.NavLeft {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

.Title{
    font-family: "ARIAL";
    font-size: 30px;
}

a {
    color: white;
    text-decoration: none;
}

